.bunner {
  background-color: var(--color-dark-blue);
  display: flex;
}

.bunner__content {
  /* flex-grow: 1; */
  width: 60%;

  /* padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 60px; */
  padding: 60px;
}

.bunner__head {
  font-size: 32px;
  line-height: 140%;
  color: var(--color-white);
  margin-bottom: 41px;
}

.bunner__footer {
  font-size: 18px;
  line-height: 150%;
  color: var(--color-white);
  margin-top: 196px;
}

.bunner__media {
  /* width: 520px; */
  width: 40%;
  flex-shrink: 0;
}

.bunner__image {
  height: 100%;
  object-fit: cover;
}
