.business-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;
}

.business-list__item {
}

.business-list__item--start {
  padding: 0;
  padding-top: 88px;
  max-width: 255px;
  width: 100%;
  background-image: url(../../../public/images/start.svg);
  background-repeat: no-repeat;
}

.business-list__item--second {
  padding: 0;
  padding-top: 88px;
  max-width: 255px;
  width: 100%;
  background-image: url(../../../public/images/second.svg);
  background-repeat: no-repeat;
}

.business-list__item--third {
  padding: 0;
  padding-top: 88px;
  max-width: 255px;
  width: 100%;
  background-image: url(../../../public/images/third.svg);
  background-repeat: no-repeat;
}

.business-list__item--finish {
  padding: 0;
  padding-top: 88px;
  max-width: 255px;
  width: 100%;
  background-image: url(../../../public/images/finish.svg);
  background-repeat: no-repeat;
}

.busness-list__title-position {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.busness-list__text {
  margin-top: 2px;
}

.busness-list__item--video {
  max-width: 203px;
}
