.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
  background-color: var(--global-primary);
  color: var(--base-text-on-dark);
  letter-spacing: -0.02em;
  font-weight: 400;
  column-gap: 10px;
  font-size: 14px;
  border: 1px solid transparent;
  transition:
    color 150ms linear,
    background-color 150ms linear,
    border-color 150ms linear;

  &:hover {
    color: var(--global-primary);
    border-color: var(--global-primary);
    border-radius: 1px;
    background: var(--base-text-on-dark);
  }
}

.button__icon {
  margin-left: 10px;
}

.button__icon path {
  fill: currentcolor;
  transition:
    color 150ms linear,
    background-color 150ms linear;
}

.button--on-header {
  min-height: 32px;
  line-height: 150%;
}

.button--on-hero {
  font-family: var(--font-family);
  font-weight: 500;
  line-height: 162%;
  letter-spacing: -0.02em;
  color: var(--base-text-on-dark);
  border-radius: 1px;
  padding: 15px 25px;
  width: 198px;
  height: 56px;
}

.button--on-partner {
  margin-top: 60px;
  max-width: 198px;
  padding: 15px 25px;
}

.button--on-footer {
  margin-top: 7px;
  background: none;
  padding: 5px 10px 5px 0;
}

.button--on-footer:hover {
  color: var(--base-text-on-dark);
  border-color: transparent;
  background: none;
}

.button--on-footer:hover .button__icon path {
  fill: currentcolor;
}

.button--on-story {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: -0.02em;
  color: var(--global-primary);
  padding: 0;
  background: none;
}

.button--on-story:hover {
  color: var(--base-text-on-dark);
  border-color: var(--global-primary);
  border-radius: 1px;
  background: var(--global-primary);
}

.button--on-story:hover .button__icon path {
  fill: currentcolor;
}
