.hero__content {
  display: flex;
  justify-content: space-between;
  column-gap: 15px;
  padding: 0 2px;
}

.hero__left {
  max-width: 635px;
  width: 100%;
}

.hero__right {
  max-width: 460px;
  width: 100%;
}

.hero__right img {
  height: 100%;
  background: var(--base-bg-secondary);
  max-width: 100%;
  object-fit: cover;
}

.hero__navigation {
  padding-top: 42px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.hero__partners {
  padding-top: 85px;
}

.hero__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 64px;
  line-height: 112%;
  letter-spacing: -0.02em;
  text-transform: capitalize;
  color: var(--base-text-on-dark);
}

.hero__description {
  max-width: 470px;
  padding-top: 30px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--base-text-on-dark);
}

.hero__text-secondary {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: -0.02em;
  color: var(--base-text-on-dark);
  max-width: 250px;
}

.hero__image {
  height: 100%;
  object-fit: cover;
}
