.partners__item--width {
  max-width: 130px;
}

.partners__item--centr {
  padding-top: 7px;
}

.partners__logo {
  width: 100%;
  max-width: 100px;
  height: 31px;
  fill: var(--base-text-alt);
}

.partners__logo--norm {
  width: 100%;
  fill: var(--base-text-alt);
}

.partners__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.partners__list--many {
  gap: 30px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
