.section-space {
  padding-top: 25px;
  padding-bottom: 25px;
}

.section-space--normal {
  padding-top: 20px;
  padding-bottom: 20px;
}

.section-space--small {
  padding-top: 64px;
  padding-bottom: 58px;
}

@media (--md-viewport) {
  .section-space {
    padding-top: 145px;
    padding-bottom: 145px;
  }

  .section-space--normal {
    padding-top: 111px;
    padding-bottom: 111px;
  }

  .section-space--small {
    padding-top: 64px;
    padding-bottom: 58px;
  }
}
