.section-space {
  padding-top: 145px;
  padding-bottom: 145px;
}

.section-space--normal {
  padding-top: 111px;
  padding-bottom: 111px;
}

.section-space--small {
  padding-top: 64px;
  padding-bottom: 58px;
}

.section-space--bg {
  background-color: var(--color-light-gray);
}
