:root {
  color-scheme: light;

  /* Background group */
  --background-default: var(--base-bg-primary);
  --background-secondary: var(--base-bg-secondary);

  /* Text group */
  --text-deafult: var(--base-text-primary);
  --text-primary: var(--base-text-primary);
  --text-secondary: var(--base-text-secondary);
  --text-alt: var(--color-white);

  /* Button stile */
  --button-back: var(--global-hover-primary);
  --button-back-hover: var(--base-bg-primary);
  --button-border-hover: var(--base-bg-primary);
  --button-on-story-boarder-hover: var(--base-bg-secondary);
  --button-on-story-back-hover: none;
  --button-on-story-color-hover: var(--global-hover-primary);


  /* Primary accents
  --primary-default: var(--color-white);
  --primary-hover: var(--color-light-sapphire);
  --primary-light-hover: var(--color-dark-blue);

  Остальное 
  --boarder-deafult: var(--base-boarder);
  --secondary-hover: var(--color-text-secondary);
  --border-default: var(--color-gray);
  --border-secondary: var(--color-text-secondary);
  --text-muted: var(--color-gray);
  --background-alpha-15: var(--color-light-gray); */
}


